//NAVBAR
.navbar {
  .navbar-toggler {
    z-index: 2;
  }
  li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #754792;
    margin-left: 20px;
    letter-spacing: 2px;
    span {
      color: #EFF0F3 !important;
    }
  }
}

.nav-content {
  margin-left: 30px;
}

.bottom-buffer {
  padding-bottom: 20px;
}
.top-buffer {
  margin-top: 30px;
}
.color-overlay {
  display:inline-block;
    position: relative;
    &:after {
      content:'';
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: #DB649C;
      opacity: 0.3;
    }
}




//SECTION A
.showcase {
    background-color: #362143;
    height: 100%;
    min-height: 85vh;

    img {
      margin-top: 20%;
    }
    h2 {
      color: #DB649C !important;
      font-family: 'Raleway', sans-serif;
      margin-top: 20px;
      &::selection {
        background:  white;
      }
    }
}

//SECTION B
.section-b {
  height: 100%;
  min-height: 65vh;
  background-color: #DB649C !important;
  color: #EFF0F3 !important;
  font-family: 'Raleway', sans-serif;
}



//Underline middle out

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .4s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #DB649C;
}

/* --------------------------------- */
/* 5. About Me Section Styles
 ----------------------------------- */

.about-inner {
    margin: 60px 0;
}

.person-about .title {
    margin-bottom: 15px;
}

.about-subtitle {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #2D3047 ;

  span {
    font-weight: bold;
    margin-right: 10px;
  }

}

.person-about {

  .btn {
    font-family: 'Oswald', sans-serif !important;
    color: #EFF0F3 !important;
    letter-spacing: 3px;
    line-height: 200%;

  }
}

.person-about .subtitle {
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 20px;
}

.person-img img {
    border: 4px solid #362143;
    width: 100%;

}

.person-about p {
  color: #EFF0F3 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
  &::selection {
    background: #403049;
  }
}

.person-info h5 {
  border-bottom: 1px solid #362143;
  color: #EFF0F3;
  font-size: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  &::selection {
    background: #403049;
  }
}

.person-info h5 span {
  display: inline-block;
  min-width: 70px;
}

.person-about > a.btn-large {
    background-color: #fff;
}

.person-about > a.btn-large {
    font-size: 14px;
}

.person-about > a.btn-large,
.home-content > a.btn-large {
    padding-right: 15px;
    padding-left: 15px;
}

.person-about > a.btn-large i {
    font-size: 26px;
    margin-right: 8px;
}

.about-social {
  margin: 25px 0 0;
}

.about-social ul li {
  display: inline-block;
  margin-right: 24px;
}

.about-social ul li a i{
   font-size: 24px;
}

.about-social ul li a i:hover {
  color: #EFF0F3;
}

//SECTION C

.section-c {
     display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 80vh;
  background-color: #EFF0F3;
  color: #362143 !important;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  .skills-intro {
    margin-top: 35px;
    line-height: 28px;
    margin-bottom: 35px;
    padding: 15px 0px 0px 0px !important;
  }

  .skill-header {

    h2 {
      padding-bottom: 20px;
      color: #171717 !important;
      font-family: 'Oswald', sans-serif !important;
      letter-spacing: 4px;
    }
  }

  .devfont {
    font-family: 'Raleway', sans-serif !important;
  }
.tool {
  font-size: 300%;
  color: #403049 !important;
  letter-spacing: 5px;
}

}
// SECTION D
.section-d {
  height: 100%;
  min-height: 65vh;
  background-color: #403049 !important;
  color: #EFF0F3 !important;
  font-family: 'Raleway', sans-serif;
  h2 {
    padding-bottom: 20px;
    color: #EFF0F3 !important;
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 4px;
  }

  .card {
    .card-block {
      background-color: #EFF0F3 !important;
    }

    h4 {
      color: #403049 !important;
      font-family: 'Oswald', sans-serif !important;
      letter-spacing: 1px;
    }
    p {
      color: #403049 !important;
      &::selection {
        background: #E48EB7;
      }
    }
  }
}

//SECTION E: BLOG
.section-e {
  height: 100%;
  min-height: 55vh;
  background-color: #DB649C !important;
  color: #EFF0F3 !important;
  font-family: 'Raleway', sans-serif;

  p {
    color: #EFF0F3 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
    &::selection {
      background: #403049;
    }
  }

  h2 {
    padding-bottom: 20px;
    color: #EFF0F3 !important;
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 4px;
  }
  .card {
    .card-block {
      background-color: #EFF0F3 !important;
    }

    h5 {
      color: #403049 !important;
      font-family: 'Oswald', sans-serif !important;
      letter-spacing: 1px;
    }
  }
}
//FOOTER
.footer {
  height: 100%;
  min-height: 6vh;
  background-color: #362143 !important;
  color: #EFF0F3 !important;
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: 3px;
  .footer-content {
    margin-top: 15px;
  }
  a {
    color: #EFF0F3 !important;
    &:hover {
      color: #DB649C !important;
    }
  }
}
