// MY THEME COLORS

$my-pink:                   #DB649C !default;
$my-white:                  #EFF0F3 !default;
$my-navy:                   #362143 !default;
$my-purple:                 #403049 !default;
$my-black:                  #171717 !default;

// MY FONTS

$title-font:                Oswald, sans-serif !default;
$sub-font:                  Raleway, sans-serif !default;
$lato:                      Lato, sans-serif !default;
$arabic:                    Amiri, serif !default;




//NAVBAR
.navbar-dark {
  box-shadow: none !important;
}
.navbar {

  z-index: 0;
  .navbar-toggler {
    z-index: 2;
  }
  li {
    font-family: $title-font;
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
    span {
      color: $my-white !important;
    }
  }
}

.nav-content {
  margin-left: 30px;
}

.bottom-buffer {
  padding-bottom: 20px;
}
.top-buffer {
  margin-top: 30px;
}
.color-overlay {
  display:inline-block;
    position: relative;
    &:after {
      content:'';
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background: $my-pink;
      opacity: 0.3;
    }
}

//SECTION A

.showcase {
  z-index: -2;
  background-color: $my-navy;
  height: 100%;
  min-height: 85vh;
#canvas, #text {
  max-width: 100% !important;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

    img {
      margin-top: 20%;
    }
    h2 {
      color: $my-pink !important;
      font-family: $sub-font;
      margin-top: 20px;
      &::selection {
        background:  white;
      }
    }
}

//SECTION B
.section-b {
  height: 100%;
  min-height: 65vh;
  background-color: $my-pink !important;
  color: $my-white !important;
  font-family: $sub-font;
  .btn {
    font-family: $title-font;
    color: $my-white !important;
    letter-spacing: 3px;
    line-height: 200%;
}

//About Me Section Styles

.about-inner {
    margin: 60px 0;
}

.person-about .title {
    margin-bottom: 15px;
}

.about-subtitle {
  font-size: 24px;
  font-weight: 600;
  font-family: $title-font;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #2D3047 ;

  span {
    font-weight: bold;
    margin-right: 10px;
  }

}
}

.person-about .subtitle {
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 20px;
}

.person-img img {
    border: 4px solid $my-navy;
    width: 100%;

}

.person-about p {
  color: $my-white !important;
  font-family: $sub-font;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;

  &::selection {
    background: $my-purple;
  }
}

.person-info h5 {
  border-bottom: 1px solid $my-navy;
  color: $my-white;
  font-size: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  &::selection {
    background: $my-purple;
  }
}

.person-info h5 span {
  display: inline-block;
  min-width: 70px;
}

.person-about > a.btn-large {
    background-color: $my-white;
}

.person-about > a.btn-large {
    font-size: 14px;
}

.person-about > a.btn-large,
.home-content > a.btn-large {
    padding-right: 15px;
    padding-left: 15px;
}

.person-about > a.btn-large i {
    font-size: 26px;
    margin-right: 8px;
}


//SECTION C

.section-c {
     display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: 80vh;
  background-color: $my-white;
  color: $my-navy !important;
  font-family: $sub-font;
  font-size: 16px;
  .skills-intro {
    margin-top: 35px;
    line-height: 28px;
    margin-bottom: 35px;
    padding: 15px 0px 0px 0px !important;
  }

  .skill-header {

    h2 {
      padding-bottom: 20px;
      color: #171717 !important;
      font-family: $title-font;
      letter-spacing: 4px;
    }
  }

  .devfont {
    font-family: 'Raleway', sans-serif !important;
  }
.tool {
  font-size: 300%;
  color: $my-purple !important;
  letter-spacing: 5px;
}

}
// SECTION D
.section-d {
  height: 100%;
  min-height: 65vh;
  background-color: $my-purple !important;
  color: $my-white !important;
  font-family: $sub-font;
  .mdi {
    margin-right: 12px;
  }
  h2 {
    padding-bottom: 20px;
    color: $my-white !important;
    font-family: $title-font;
    letter-spacing: 4px;
  }

  .card {
    .card-block {
      background-color: $my-white !important;
    }

    h4 {
      color: $my-purple !important;
      font-family: $title-font;
      letter-spacing: 1px;
    }
    p {
      color: $my-purple !important;
      &::selection {
        background: #E48EB7;
      }
    }
  }
}

//SECTION E: BLOG
.section-e {
  height: 100%;
  min-height: 55vh;
  background-color: $my-pink !important;
  color: $my-white !important;
  font-family: $sub-font;

  p {
    color: $my-white !important;
    font-family: $sub-font;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
    &::selection {
      background: $my-purple;
    }
  }

  h2 {
    padding-bottom: 20px;
    color: $my-white !important;
    font-family: $title-font;
    letter-spacing: 4px;
  }


  .card {

    img {
      background-size: contain;
    }
    .card-block {
      background-color: $my-white !important;
    }

    h5 {
      color: $my-purple !important;
      font-family: $title-font;
      letter-spacing: 1px;
    }
  }

  .btn {
    font-size: 1.3em;
  }

}

//FOOTER
.footer {
  height: 100%;
  min-height: 6vh;
  background-color: $my-navy !important;
  color: $my-white !important;
  font-family: $title-font;
  letter-spacing: 3px;

  .about-social ul li {
    display: inline-block;
    margin-right: 24px;
  }

  .about-social ul li a i{
     font-size: 24px;
  }

  .footer-content {
    margin-top: 15px;
  }
  a {
    color: $my-white !important;
    &:hover {
      color: $my-pink !important;
    }
  }
}

//CONTACT MODAL

.modal {

  .mdi {
    margin-right: 12px;
  }
  ul li a i:hover {
    color: $my-white !important;
  }


  .modal-dialog
  {
    width: 100%;
    min-width: 60vh;
    .modal-content {
      background-color: $my-pink !important;
      .modal-header {
        .mdi-close {
          margin-right: 0px !important;
        }
        background-color: $my-pink !important;
        color: $my-white !important;
        font-family: $title-font;
      }
      .modal-body {
        background-color: $my-white !important;
        .form-group {
          height: 100%;
          margin-bottom: 10px !important;
        }
      }

    }

  }
  .modal-footer {
    font-family: $title-font;
    font-size: 18px;

    .about-social ul li {
      display: inline-block;
      margin-right: 20px;
    }

    .about-social ul li a i{
       font-size: 24px;
    }
  }
}

@media (max-width: 767px) {
  #content .modal.fade.in {
    top: 5%;
  }
}
//Underline middle out

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 2px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .4s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: $my-pink !important;
}
